name: Draft Release PR
on:
  push:
    branches:
      - 'main'

permissions:
  pull-requests: write
  contents: write

jobs:
  draft-release:
    name: Draft Release PR
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Draft Release PR
      uses: pantheon-systems/plugin-release-actions/release-pr@v0
      with:
        gh_token: ${{ secrets.GITHUB_TOKEN }}